<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome</title>
<style>
	body {background-color:#FBEFF5; text-align: center;}
	img {width: 280px; height: 320px;}
	h1 {color:brown;}
	span {color:gray; font-size:0.8em;}
</style>
</head>
<body>
<h1>Coco Cafe</h1>
(bread, coffee, salad) <p>
<form method="get" action="/login/check">
	ID: <input type="text" name="mid"> <p>
	<input type="submit" value="login">
</form><p>
<img src="/코코.jpg" alt="코코사진"><br> <!-- src 오타주의 '/' static 파일, alt는 그림이 안나올 때 멘트 넣어주는 거.-->
<span>(그림 출처: 우리집 강아지 코코)</span>
</body></html>